*{
	box-sizing: border-box;
	font-family: Helvetica;
 }

h1
{
	margin-bottom: 15px;
	text-align: center;
	font-size:175%;
}

section{	
	width:100%;
				
	margin-left: 15px;
	margin-right:15px;
	margin-bottom: 5px;

	padding-top:40px;
	
	border:1px solid black;

	
	background-color: #b3d9ff;				
	position:relative;

}



section h2{
	margin-top:0px;
	margin-bottom:10px;
	font-size:125%;
	width: 120px;
	//padding-left:10px;
	border:1px solid black;		
	text-align: center;
	position:absolute;
	top:0;
	right:0;

}

#heading1{
	background-color:#99ff66;
}

#heading2{
	background-color:#ecc6d8	;
}

#heading3{
	background-color:#ffff80;
}


section div{
	padding-left: 10px;
	padding-right:10px;			
}

div.col{
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
}

	/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;	    
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 738px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;	    
  }

  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}	
